<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer-fragment">
  <div class="page-footer">
    <div class="footer-content">
      <div class="page-container clearfix">
        <div class="item fl">
          <div class="title">下载千千客户端</div>
          <div class="content clearfix">
            <div class="fl download-item"><span class="iconfont"></span> <br>
              Android版
              <div class="ewm"><img th:src="@{/pic/9db68ae.jpg}">
                <p>微信扫一扫</p>
              </div>
            </div>
            <div class="fl download-item"><span class="iconfont"></span> <br>iPhone版
              <div class="ewm"><img th:src="@{/pic/9db68ae.jpg}">
                <p>微信扫一扫</p>
              </div>
            </div>
            <div class="fl download-item"><span class="iconfont"></span> <br>Window版
            </div>
            <div class="fl download-item"><span class="iconfont"></span> <br>MAC版
            </div>
          </div>
        </div>
        <div class="item fl">
          <div class="title">关于千千音乐</div>
          <ul>
            <li><a href="https://music.taihe.com/feedback">意见反馈</a></li>
            <li><a href="https://music.taihe.com/doc/contact">联系我们</a></li>
            <li><a href="https://www.dmhmusic.com/" target="_blank">DMH数字音乐分发平台</a></li>
          </ul>
        </div>
        <div class="item fr">
          <div class="title">关注千千音乐</div>
          <div class="content clearfix"><a href="http://e.weibo.com/musicbaidu" target="_blank"
                                           class="fl"><span class="iconfont"></span> 关注微博
          </a>
            <div class="fl"><span class="iconfont"></span> 微信公众号
              <div class="ewm"><img th:src="@{/pic/c4db3c2.jpg}">
                <p>微信扫一扫</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="page-container">
        <div>
          <div>
            Copyright 2018 © .TAIHE MUSIC GROUP. 深圳太乐文化科技有限公司版权所有
            <a href="https://beian.miit.gov.cn/#/Integrated/index"
               target="_blank">[粤ICP备17102508号-2]</a>
          </div>
          <div><span>信息网络传播视听许可证: 1910523</span>
            |
            <a target="_blank"
               href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502002309"
               class="anbei"><img
                    src="">
              粤公网安备: 44030502002309号
            </a>
            |
            <span>增值电信业务经营许可证: 粵B2-20180819</span>
            |
            <span>网络文化经营许可证号码: 粤网文[2018]0902-359号</span>
          </div>
        </div>
        <div class="feedback"><a href="mailto:jubao@taihe.com">举报邮箱: jubao@taihe.com</a>
          |
          <a href="https://music.taihe.com/feedback">反馈中心</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>