<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon" href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/8dd5b223e783ea899db7.css}">
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}" />
    <link rel="stylesheet" th:href="@{/css/6db2c0cb5ca80010df7e.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
</head>
<body>
<div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
        <div>
            <!--头部-->
            <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

            <div class="container details-box mv-details-box page-main">
                <div class="poster-box">
                    <div class="poster pr" >
                        <div class="pr"><video autoplay controls class="video" style="width: 1200px" th:src="${features.feurl}"></video>
                        </div>
                    </div>
                    <div class="info" >
                        <h1 class="page-title" th:text="${features.fetitle}"></h1> <span class="info-line"></span>
                        <div class="author-wrap"><span class="author"></span>
                        </div>
                        <div class="play-num" th:text="${features.feplays+'次播放'}"></div>
                        <div class="num-wrap">
                            <span class="iconfont icon-new fr" id="sharbtn" th:data-clipboard-text="${#httpServletRequest.getScheme()+'://'+#httpServletRequest.getServerName()+':'+#httpServletRequest.getServerPort()+#httpServletRequest.getContextPath()+'/videtail/'+features.feid}"></span>
                            <span id="ccc" th:onclick="sc([[${features.feid}]])"></span>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
            <footer th:replace="fontdesk/foot::footer-fragment"></footer>
        </div>
    </div>
</div>
</body>
<script>
    //分享
    var clipboard = new ClipboardJS('#sharbtn');
    clipboard.on('success', function (e) {
        layer.msg("已复制，可粘贴！",{
            offset: 't',
            icon:1
        });
        e.clearSelection();
    });


    issc([[${features.feid}]]);

    //显示是否收藏  true爱心 false取消爱心
    function showsc(n) {
        var t = '';
        if(n){
            t = '<span class="iconfont icon-new collected fr"></span>';
        }else{
            t = '<span class="iconfont icon-new fr" ></span>';
        }
        $("#ccc").html(t);
    }

    var ist = true;
    //是否收藏
    function  issc(id) {
        $.ajax({
            url: '/user/isadd/'+id,
            type: 'post',
            dataType: "json",
            complete: function (xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success: function (da) {
                // console.log(da);
                if(da.code==200){
                    ist = false;
                }
                showsc(ist);
            }
        });
    }

    //收藏
    function sc(id) {
        if(ist){
            // alert(1)
            $.ajax({
                url: '/user/del/'+id,
                type: 'post',
                dataType: "json",
                complete: function (xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success: function (da) {
                    // console.log(da);
                    issc(id);
                    ist = false;
                }
            });
        }else{
            // alert(2)
            var d = new Date();
            var date = d.getFullYear()+"/"+(d.getMonth()+1)+"/"+d.getDate();
            $.ajax({
                url: '/user/add',
                type:"post",
                // contentType:'application/json',  //发送数据类型
                data:{
                    "allid":id,
                    "cotype":3,
                    "cotime":date
                },
                dataType : "json",  //接受数据格式
                complete : function(xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success:function(da){
                    // console.log(da);
                    // if(da.code==200){
                    //     layer.msg(da.msg,{offset:['100px']});
                    //
                    // }else if(da.code=500){
                    //     layer.msg(da.msg,{offset:['100px']});
                    // }
                    issc(id);
                    ist = true;
                }
            });
        }
    }


    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }
</script>
</html>