<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon" href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}" />
    <link rel="stylesheet" th:href="@{/css/f0c121bf9729755d1933.css}"/>
    <link rel="stylesheet" th:href="@{/css/4128696a8dd92d32da65.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script>
        layui.use('carousel', function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                , width: '1199px'
                , arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });
    </script>
</head>
<body>
    <div data-server-rendered="true" id="__nuxt">
        <!---->
        <div id="__layout">
            <div>
                <!--头部-->
                <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

                <div class="container page-main" data-v-8ac97446="">
                    <div class="focus-box mod" data-v-62f1d6d6="" data-v-8ac97446="">
                        <div class="focus-box-inside box-inside pr" data-v-62f1d6d6="">
                            <div class="focus-wrap" data-v-62f1d6d6="">
                                <div width="750px" class="el-carousel el-carousel--horizontal el-carousel--card"
                                    data-v-62f1d6d6="">
                                    <div class="el-carousel__container" style="height:300px;">
                                        <div class="layui-carousel" id="test1"
                                            style="width: 1199px;margin-left: 150px;">
                                            <div carousel-item style="width: 1199px;">
                                                <div><img th:src="@{/pic/ia_100000002.jpg}" width="1199px" height="300px" />
                                                </div>
                                                <div><img th:src="@{/pic/ia_100000003.jpg}" width="1199px" height="300px" />
                                                </div>
                                                <div><img th:src="@{/pic/ia_100000004.jpg}" width="1199px" height="300px" />
                                                </div>
                                                <div><img th:src="@{/pic/ia_100000005.jpg}" width="1199px" height="300px" />
                                                </div>
                                                <div><img th:src="@{/pic/ia_100000006.jpg}" width="1199px" height="300px" />
                                                </div>
                                                <div><img th:src="@{/pic/ia_100000007.jpg}" width="1199px" height="300px" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag-box pr" data-v-4e77c644="" data-v-8ac97446="">
                        <div class="tag-box-inside box-inside" data-v-4e77c644="">
                            <!--标签-->
                            <a th:each="insoty:${inso}" th:text="${insoty.sotname}" th:href="@{'/palylist.html?sotid='+${insoty.sotid}}" data-v-4e77c644=""></a>
                        </div>
                        <a href="palylist.html" class="more" data-v-729db4d6=""
                            data-v-4e77c644=""></a>
                    </div>
                    <div class="songlist-box mod" data-v-3b4aa7ea="" data-v-8ac97446="">
                        <div class="songlist-box-inside box-inside pr" data-v-3b4aa7ea="">
                            <div class="mod-header pr" data-v-08e1b94e="" data-v-3b4aa7ea="">
                                <h2 class="title" data-v-08e1b94e="">热门歌单</h2> <a
                                    href="palylist.html" class="more more" data-v-729db4d6=""
                                    data-v-08e1b94e=""></a>
                            </div>
                            <div class="el-carousel el-carousel--horizontal" data-v-3b4aa7ea="">
                                <div class="el-carousel__container">
                                    <!---->
                                    <!---->
                                    <div class="el-carousel__item"
                                        style="transform:translateX(0px) scale(1);ms-transform:translateX(0px) scale(1);webkit-transform:translateX(0px) scale(1);"
                                        data-v-3b4aa7ea="">
                                        <!---->
                                        <div class=" tracklist-box clearfix" data-v-1e40aea8="" data-v-3b4aa7ea="">
                                            <div th:each="songl:${songli}" class="tracklist-item fl" data-v-1e40aea8="" th:onclick="gdxx([[${songl.solid}]])">
                                                <div class="poster" data-v-1e40aea8="">
                                                    <div class="el-image" data-v-1e40aea8="">
                                                        <div class="el-image__placeholder">
                                                            <img th:src="${songl.solimg}"
                                                                 class="el-image__inner" />
                                                        </div>
                                                        <!---->
                                                    </div>
                                                    <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                                                                   data-v-1e40aea8=""></span></div>
                                                </div>
                                                <div class="name" data-v-1e40aea8="" th:text="${songl.soltitle}"></div>
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul
                                    class="el-carousel__indicators el-carousel__indicators--horizontal el-carousel__indicators--outside">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="artist-box mod" data-v-067d84e1="" data-v-8ac97446="">
                        <div class="artist-box-inside box-inside pr" data-v-067d84e1="">
                            <div class="mod-header pr" data-v-08e1b94e="" data-v-067d84e1="">
                                <h2 class="title" data-v-08e1b94e="">热门歌手</h2> <a th:href="@{'/morsinger/all/0/0'}"
                                    class="more more" data-v-729db4d6="" data-v-08e1b94e=""></a>
                            </div>
                            <div class="artist-box-content" data-v-067d84e1="">
                                <div class=" artistlist-box" data-v-42602e08="" data-v-067d84e1="">
                                    <div class="el-row" style="margin-left:-15px;margin-right:-15px;"
                                        data-v-42602e08="">

                                        <div class="el-col el-col-4" th:each="hotsing:${hotsin}" th:onclick="singconf([[${hotsing.siid}]])" style="padding-left:15px;padding-right:15px;"
                                             data-v-42602e08="">
                                            <div class="artistlist-item" data-v-42602e08="">
                                                <div class="avatar" data-v-42602e08="">
                                                    <div class="el-image" data-v-42602e08="">
                                                        <div class="el-image__placeholder">
                                                            <img th:src="${hotsing.siimg}"
                                                                 class="el-image__inner" />
                                                        </div>
                                                        <!---->
                                                    </div>
                                                </div>
                                                <div class="info" data-v-42602e08="">
                                                    <div class="name ellipsis" data-v-42602e08="" th:text="${hotsing.siname}"></div>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mv-box mod" data-v-dd80d96e="" data-v-8ac97446="">
                        <div class="songlist-box-inside box-inside pr" data-v-dd80d96e="">
                            <div class="mod-header pr" data-v-08e1b94e="" data-v-dd80d96e="">
                                <h2 class="title" data-v-08e1b94e="">精选视频</h2> <a th:href="@{'/morvide'}"
                                    class="more more" data-v-729db4d6="" data-v-08e1b94e=""></a>
                            </div>
                            <div class="el-carousel el-carousel--horizontal" data-v-dd80d96e="">
                                <div class="el-carousel__container" style="height:260px;">
                                    <div class="el-carousel__item"
                                        style="transform:translateX(0px) scale(1);ms-transform:translateX(0px) scale(1);webkit-transform:translateX(0px) scale(1);"
                                        data-v-dd80d96e="">
                                        <div class="videolist-box clearfix" data-v-540441ab="" data-v-dd80d96e="">


                                            <div class="videolist-item fl" th:each="void:${feli}" data-v-540441ab=""  th:onclick="indvodj([[${void.feid}]])">
                                                <div class="poster" data-v-540441ab="">
                                                    <div class="el-image" data-v-540441ab="">
                                                        <div class="el-image__placeholder">
                                                            <img th:src="${void.cover}" class="el-image__inner"/>
                                                        </div>
                                                        <!---->
                                                    </div>
                                                    <div class="play-bar" data-v-540441ab=""><span class="iconfont"
                                                                                                   data-v-540441ab=""></span></div>
                                                </div>
                                                <div class="name" data-v-540441ab="" th:text="${void.fetitle}"></div>
                                                <div class="o-info" data-v-540441ab="">
                                                    <p data-v-540441ab=""><span data-v-540441ab=""></span>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul
                                    class="el-carousel__indicators el-carousel__indicators--horizontal el-carousel__indicators--outside">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--尾部-->
                <footer th:replace="fontdesk/foot::footer-fragment"></footer>
            </div>
        </div>
    </div>
</body>
<script>
    //点击视频
    function indvodj(vid){
        window.open("/videtail/"+vid,"scrollbars=yes,resizable=1,modal=false,alwaysRaised=yes");
    }

    //点击歌手
    function singconf(siid){
        location.href="/singerdetails/"+siid;
    }

    //热门歌单详情
    function gdxx(gid){
        location.href="/songdeta/"+gid;
    }

    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }
</script>
</html>