<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon" href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/8dd5b223e783ea899db7.css}">
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}" />
    <link rel="stylesheet" th:href="@{/css/f17393174bb9b8d10291.css}" />
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
</head>
<body>
<div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
        <div>
            <!--头部-->
            <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

            <div class="container page-container page-main" data-v-5d0c675d="">
                <h2 data-v-5d0c675d="">精选视频</h2>
                <div class="videolist-box clearfix" data-v-540441ab="" data-v-5d0c675d="">

                    <div class="videolist-item fl" th:each="pvo:${pavo.list}" th:onclick="morvide([[${pvo.feid}]])" data-v-540441ab="">
                        <div class="poster" data-v-540441ab="">
                            <div class="el-image" data-v-540441ab="">
                                <div class="el-image__placeholder">
                                    <img th:src="${pvo.cover}" class="el-image__inner"/>
                                </div>
                                <!---->
                            </div>
                            <div class="play-bar" data-v-540441ab=""><span class="iconfont"
                                                                           data-v-540441ab=""></span></div>
                        </div>
                        <div class="name" data-v-540441ab="" th:text="${pvo.fetitle}"></div>
                        <div class="o-info" data-v-540441ab="">
                            <p data-v-540441ab=""><span data-v-540441ab=""></span>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="el-pagination" data-v-5d0c675d="">
                    <button type="button" th:disabled="${pavo.pageNum<=1}" class="btn-prev"><i class="el-icon el-icon-arrow-left"></i></button>
                    <ul class="el-pager">
                        <a th:each="g:${pavo.navigatepageNums}" th:href="${'/showvide/'+g}">
                            <li th:class="${g==pavo.pageNum ? 'number active' : 'number'}" th:text="${g}">
                            </li>
                        </a>
                    </ul>
                    <button type="button" th:onclick="last([[${pavo.pages}]])" th:disabled="${pavo.pageNum==pavo.pages}" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
                </div>
                <!---->
            </div>
            <footer th:replace="fontdesk/foot::footer-fragment"></footer>
        </div>
    </div>
</div>
<script type="text/javascript">
    //上一页
    $(".btn-prev").click(function (){
        location.href="/showvide/1";
    });

    //下一页
    function last(lanumber) {
        location.href="/showvide/"+lanumber;
    }

    //视频点击
    function morvide(movid){
        location.href="/videtail/"+movid;
    }

    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }
</script>
</body>
</html>