<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon" href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}">
    <link rel="stylesheet" th:href="@{/css/8dd5b223e783ea899db7.css}">
    <link rel="stylesheet" th:href="@{/css/12a35a2ba83bdb27f9e4.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
</head>

<body>
    <div data-server-rendered="true" id="__nuxt">
        <!---->
        <div id="__layout">
            <div>
                <!--头部-->
                <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

                <div class="container page-container page-main" data-v-5ea8f978="">
                    <div class="filter-box clearfix" data-v-5ea8f978="">

                        <div data-v-5ea8f978="" th:each="obj,iterStat:${type}" th:switch="${iterStat.index}" th:class="${iterStat.index==1 ? 'filter-group language-group fl':'filter-group fl'}">
                            <div class="title" data-v-5ea8f978="" th:case="1">
                                <span class="iconfont" data-v-5ea8f978="" ></span> 语种
                            </div>
                            <div class="title" data-v-5ea8f978="" th:case="2">
                                <span class="iconfont" data-v-5ea8f978="" ></span> 流派
                            </div>
                            <div class="title" data-v-5ea8f978="" th:case="3">
                                <span class="iconfont" data-v-5ea8f978="" ></span> 主题
                            </div>
                            <div class="title" data-v-5ea8f978="" th:case="4">
                                <span class="iconfont" data-v-5ea8f978="" ></span> 情感
                            </div>
                            <div class="title" data-v-5ea8f978="" th:case="5">
                                <span class="iconfont" data-v-5ea8f978="" ></span> 场景
                            </div>

                            <div data-v-0869570c="" data-v-5ea8f978="">
                                <ul class="filter-data-box clearfix" data-v-0869570c="">

                                    <a th:each="tt:${obj}" th:href="@{'/palylist.html?sotid='+${tt.sotid}}" >
                                        <li data-v-0869570c="" ><span th:title="${tt.sotname}" class="item ellipsis"
                                              data-v-0869570c="" th:text="${tt.sotname}"></span></li></a>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="list-head clearfix" data-v-5ea8f978="">
                        <h2 class="fl" data-v-5ea8f978="" th:text="${songlistname}">全部歌单</h2>
                    </div>
                    <div class=" tracklist-box clearfix" data-v-1e40aea8="" data-v-5ea8f978="">

                        <div class="tracklist-item fl" data-v-1e40aea8="" th:each="sol:${songlist.list}" th:onclick="gdxx([[${sol.solid}]])">
                            <div class="poster" data-v-1e40aea8="">
                                <div class="el-image" data-v-1e40aea8="">
                                    <img th:src="@{${sol.solimg}}" class="el-image__inner" style="object-fit: cover;">
                                    <!---->
                                </div>
                                <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                        data-v-1e40aea8=""></span></div>
                            </div>
                            <div class="name" data-v-1e40aea8="" th:text="${sol.soltitle}">薛之谦综艺歌曲全收录</div>
                            <!---->
                        </div>

                    </div>
                    <div class="el-pagination" data-v-5ea8f978="">
                        <!--分页-->
                        <span th:if="${songlist.prePage>0}">
                            <a th:href="@{${songlisturl+songlist.prePage}}" >
                                <button type="button" class="btn-prev"><i class="el-icon el-icon-arrow-left"></i></button></a>
                        </span>
                        <ul class="el-pager">
<!--                            <span th:if="${songlist.prePage>0}">-->
<!--                                <a th:href="@{${songlisturl+'1'}}"><li class="number">首页</li></a>-->
<!--                            </span>-->

                            <a th:each="p:${songlist.navigatepageNums}" th:href="@{${songlisturl+p}}" >
                                <li th:class="${songlist.pageNum==p ? 'number active' : 'number' }"  th:text="${p}"></li></a>

<!--                            <span th:if="${songlist.nextPage>0}">-->
<!--                                <a th:href="@{${songlisturl+songlist.pages}}"><li class="number" >尾页</li></a>-->
<!--                            </span>-->
                        </ul>
                        <span th:if="${songlist.nextPage>0}">
                            <a th:href="@{${songlisturl+songlist.nextPage}}" >
                                <button type="button" class="btn-prev"><i class="el-icon el-icon-arrow-right"></i></button></a>
                        </span>
                    </div>
                    <!---->
                </div>
                <footer th:replace="fontdesk/foot::footer-fragment"></footer>
            </div>
        </div>
    </div>
</body>
<script>
    //热门歌单详情
    function gdxx(gid){
        location.href="/songdeta/"+gid;
    }

    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }
</script>
</html>