<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
</head>
<body>
<img src="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/qrcode.jpg">
<button onclick="qh()">切换</button>
</body>
<script>
    function qh(){
        $.ajax({
            url:'test',
            type:'get',
            success: function(date){
                if(date.code==200){
                    location.reload();
                    alert("成功！");
                }else {
                    alert("错误！");
                }
            }
        })
    }
</script>
</html>