<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon" href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}">
    <link rel="stylesheet" th:href="@{/css/8dd5b223e783ea899db7.css}">
    <link rel="stylesheet" th:href="@{/css/11a0d0448cdee2cc3744.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script th:src="@{/layui/layui.js}"></script>
</head>

<body>
    <div data-server-rendered="true" id="__nuxt">
        <!---->
        <div id="__layout">
            <div>
                <!--头部-->
                <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

                <div class="container page-main" data-v-3675b332="">
                    <div class="search-head" data-v-3675b332="">
                        <div class="page-container search-bar-box" data-v-3675b332="">
                            <div class="search-bar" data-v-3675b332="">
                                <form class="el-form">
                                    <div aria-haspopup="listbox" role="combobox" aria-owns="el-autocomplete-6647"
                                        class="el-autocomplete">
                                        <div class="el-input el-input--suffix">
                                            <!----><input type="text" id="seavbig" autocomplete="off" valuekey="value"
                                                placeholder="请输入歌名"
                                                fetchsuggestions="function () { [native code] }"
                                                selectwhenunmatched="true" debounce="300" placement="bottom-start"
                                                popperappendtobody="true" class="el-input__inner" th:value="${seval}">
                                            <!----><span class="el-input__suffix"><span
                                                    class="el-input__suffix-inner"><i onclick="sreav()"
                                                        class="iconfont el-input__icon"></i>
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                    <!---->
                                                </span>
                                                <!---->
                                            </span>
                                            <!---->
                                            <!---->
                                        </div>
                                        <div role="region" class="el-autocomplete-suggestion el-popper"
                                            style="display:none;">
                                            <div class="el-scrollbar">
                                                <div
                                                    class="el-autocomplete-suggestion__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                                                    <ul class="el-scrollbar__view el-autocomplete-suggestion__list">
                                                    </ul>
                                                </div>
                                                <div class="el-scrollbar__bar is-horizontal">
                                                    <div class="el-scrollbar__thumb"
                                                        style="width:0;transform:translateX(0%);ms-transform:translateX(0%);webkit-transform:translateX(0%);">
                                                    </div>
                                                </div>
                                                <div class="el-scrollbar__bar is-vertical">
                                                    <div class="el-scrollbar__thumb"
                                                        style="height:0;transform:translateY(0%);ms-transform:translateY(0%);webkit-transform:translateY(0%);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="page-container search-content" data-v-3675b332="">
                        <div class="head clearfix" data-v-3675b332="">
                            <div class="title" data-v-3675b332="">搜索结果</div>
                            <div class="el-tabs el-tabs--top" data-v-3675b332="">
                                <div class="el-tabs__header is-top">
                                    <div class="el-tabs__nav-wrap is-top">
                                        <div class="el-tabs__nav-scroll">
                                            <div role="tablist" class="el-tabs__nav is-top"
                                                style="transform:translateX(-0px);">
                                                <div class="el-tabs__active-bar is-top"
                                                    style="width:0px;transform:translateX(0px);ms-transform:translateX(0px);webkit-transform:translateX(0px);">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="el-tabs__content">
                                    <div role="tabpanel" id="pane-1" aria-labelledby="tab-1" class="el-tab-pane"
                                        data-v-3675b332=""></div>
                                    <div role="tabpanel" aria-hidden="true" id="pane-2" aria-labelledby="tab-2"
                                        class="el-tab-pane" style="display:none;" data-v-3675b332=""></div>
                                    <div role="tabpanel" aria-hidden="true" id="pane-3" aria-labelledby="tab-3"
                                        class="el-tab-pane" style="display:none;" data-v-3675b332=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="content" data-v-3675b332="">
                            <div class="song-box" data-v-3675b332="">
<!--                                <button type="button"-->
<!--                                    class="el-button el-button&#45;&#45;primary is-round" data-v-3675b332="">-->
<!--                                    &lt;!&ndash;&ndash;&gt;-->
<!--                                    &lt;!&ndash;&ndash;&gt;<span><span class="iconfont" data-v-3675b332=""></span> 播放全部-->
<!--                                    </span>-->
<!--                                </button>-->
                                <div data-v-7385b91b="" data-v-3675b332="">
                                    <ul data-v-7385b91b="">
                                        <li class="list-title" data-v-7385b91b="">
                                            <div class="num" data-v-7385b91b="">序号</div>
                                            <div class="song ellipsis" data-v-7385b91b="">歌曲</div>
                                            <div class="artist" data-v-7385b91b="">歌手</div>
                                            <div class="album" data-v-7385b91b="">专辑</div>
                                            <div class="time" data-v-7385b91b="">时长</div>
                                        </li>
                                        <li class="pr t clearfix" data-v-7385b91b="" th:each="cf:${sr}">
                                            <div class="num" data-v-7385b91b="" th:text="${cfStat.count}">1</div>
                                            <div class="song ellipsis clearfix" data-v-7385b91b="">
                                                <div class="song-box" data-v-7385b91b=""><a
                                                        href="https://music.taihe.com/song/T10046044309" target="self"
                                                        data-v-7385b91b="" th:text="${cf.soname}"></a>
                                                    <!---->
                                                </div>
                                            </div>
                                            <div class="artist ellipsis" data-v-7385b91b=""><a
                                                    href="https://music.taihe.com/artist/A11062500" target="self"
                                                    data-v-7385b91b="" th:text="${cf.siname}"></a>

                                            </div>
                                            <div class="album ellipsis" data-v-7385b91b=""><a
                                                    href="https://music.taihe.com/album/P10002183008" target="self"
                                                    data-v-7385b91b="" th:text="${'《'+cf.soname+'》'}">《周杰伦》</a>
                                            </div>
                                            <div class="time" data-v-7385b91b="" th:text="${cf.sotime}">04:28</div>
                                            <div class=" tools pa" data-v-3a201fd6="" data-v-7385b91b="">
                                                <span class="iconfont play" data-v-3a201fd6="" th:onclick="tyy2([[${cf.sovip}]],[[${cf.soid}]])"></span>
                                                <span th:id="${'ax'+cf.soid}" th:onclick="ax([[${cf.soid}]])"></span>
<!--                                                <span class="iconfont share" id="sharge" th:data-clipboard-text="${'http://localhost:8090/search/'+seval}" data-v-3a201fd6=""></span>-->
                                            </div>
                                        </li>

                                    </ul>
                                    <div class="share-box" data-v-8ca96088="" data-v-7385b91b="">
                                        <div class="el-dialog__wrapper" style="display:none;" data-v-8ca96088="">
                                            <div role="dialog" aria-modal="true" aria-label="分享至"
                                                class="el-dialog el-dialog--center share-content-pop"
                                                style="margin-top:15vh;">
                                                <div class="el-dialog__header"><span
                                                        class="el-dialog__title">分享至</span><button type="button"
                                                        aria-label="Close" class="el-dialog__headerbtn"><i
                                                            class="el-dialog__close el-icon el-icon-close"></i></button>
                                                </div>
                                                <!---->
                                                <!---->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <!---->
                            </div>
                            <div class="artist-box" style="display:none;" data-v-3675b332="">
                                <!---->
                                <!---->
                                <!---->
                            </div>
                            <div class="albums-box" style="display:none;" data-v-3675b332="">
                                <!---->
                                <!---->
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="fontdesk/foot::footer-fragment"></footer>
            </div>
        </div>
    </div>
<script>
    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }


    //大搜索输入框回车事件
    $("#seavbig").keyup(function(){
        if(event.keyCode == 13){
            sreav();
        }
    });

    //大搜索
    function sreav(){
        const serval = $("#seavbig").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }

    //分享
    var clipboard = new ClipboardJS('#sharge');
    clipboard.on('success', function (e) {
        layer.msg("已复制，可粘贴！",{
            offset: 't',
            icon:1
        });
        e.clearSelection();
    });


    //歌曲收藏------------------------------------------------------------------------------

    var issong = [];
    $(function(){
        $.ajax({
            url: "/scsearch/"+$("#seavbig").val(),
            type: 'post',
            dataType: "json",
            complete: function (xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success: function (da) {
                // console.log(da);
                for (var i=0;i<da.data.length;i++){
                    var soid = da.data[i].soid;

                    var obj = new Object();
                    obj.sid = soid;
                    obj.sis = true;
                    issong.push(obj);

                    //是否收藏歌曲
                    issc2(soid,i);
                }
            }
        });
    });


    //是否收藏歌曲
    function  issc2(id,i) {
        $.ajax({
            url: '/user/isadd/'+id,
            type: 'post',
            dataType: "json",
            complete: function (xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success: function (da) {
                // console.log(da);
                var isong = true;
                if(da.code==200){
                    isong = false;
                }
                issong[i].sis = isong;
                showax(isong,id);
            }
        });
    }

    //显示爱心
    function showax(n,id){
        if(n){
            $("#ax"+id).html('<span class="iconfont favorite isFavorite" data-v-3a201fd6=""></span>');
        }else{
            $("#ax"+id).html('<span class="iconfont favorite" data-v-3a201fd6="" ></span>');
        }
    }

    //收藏
    function scsong(id,i,is) {
        if(is){
            // alert(1)
            $.ajax({
                url: '/user/del/'+id,
                type: 'post',
                dataType: "json",
                complete: function (xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success: function (da) {
                    // console.log(da);
                    issc2(id,i);
                }
            });
        }else{
            // alert(2)
            var d = new Date();
            var date = d.getFullYear()+"/"+(d.getMonth()+1)+"/"+d.getDate();
            $.ajax({
                url: '/user/add',
                type:"post",
                // contentType:'application/json',  //发送数据类型
                data:{
                    "allid":id,
                    "cotype":1,
                    "cotime":date
                },
                dataType : "json",  //接受数据格式
                complete : function(xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success:function(da){
                    // console.log(da);
                    issc2(id,i);
                }
            });
        }
    }

    //点击爱心
    function ax(id){
        var dd = JSON.parse(JSON.stringify(issong));
        for(var i=0;i<dd.length;i++){
            var sid = dd[i].sid;
            var sis = dd[i].sis;
            // console.log(sid);
            // console.log(sis);
            if(id==sid){
                scsong(id,i,sis);
            }
        }
    }

    /*单个播放*/
    function tyy2(isvip,soid) {
        $.ajax({
            url:'/addsong/'+soid+'/'+isvip,
            type:'get',
            dataType:'json',
            success:function (data) {
                console.log(data);
                if (data.code==512){//跳登录
                    window.open("/login.html","scrollbars=yes,resizable=1,modal=false,alwaysRaised=yes");
                }else if (data.code==510){//跳VIP
                    window.open("/Reinface","scrollbars=yes,resizable=1,modal=false,alwaysRaised=yes");
                }else if (data.code==200 || data.code==511){//跳播放
                    window.open("/play/"+soid+"#l"+soid,"scrollbars=yes,resizable=1,modal=false,alwaysRaised=yes");
                }
            }
        })
    }

</script>
</body>
</html>