<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon"
          href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}">
    <link rel="stylesheet" th:href="@{/css/8dd5b223e783ea899db7.css}">
    <link rel="stylesheet" th:href="@{/css/e0f2c22d19247a4f91ca.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:inline="javascript">
        $(function (){
            var szm=[[${sna}]];
            var sdq=[[${sia}]];
            var stp=[[${sity}]];

            var is="";
            if(szm==="all"){
                is="<li class=\"fl current\" id='liall' data-v-bb45b0b4=\"\"><span class=\"item\" onclick=\"xm('all')\" data-v-bb45b0b4=\"\">全部</span></li>"
            }else{
                is="<li class=\"fl\" id='liall' data-v-bb45b0b4=\"\"><span class=\"item\" onclick=\"xm('all')\" data-v-bb45b0b4=\"\">全部</span></li>";
            }
            //循环26个字母
            for(var i=0;i<26;i++){
                var zm=String.fromCharCode((65+i));
                if(szm===zm){
                    is+=" <li class=\"fl current\" id='li"+zm+"' data-v-bb45b0b4=\"\"><span class=\"item\" onclick=\"xm('"+zm+"')\" data-v-bb45b0b4=\"\">"+zm+"</span></li>"
                }else{
                    is+=" <li class=\"fl\" id='li"+zm+"' data-v-bb45b0b4=\"\"><span class=\"item\" onclick=\"xm('"+zm+"')\" data-v-bb45b0b4=\"\">"+zm+"</span></li>"
                }
            }
            $("#allzm").append(is);

            console.log(szm+" "+sdq+" "+stp);

            if(szm!=="" && szm!=="all"){
                $("#liall").attr("class","fl");
                $("#li"+szm).attr("class","fl current");
            }else{
                $("#liall").attr("class","fl current");
            }

            if(sdq!=="" && sdq!=="0"){
                $("#dql0").attr("class","fl");
                $("#dql"+sdq).attr("class","fl current");
            }else{
                $("#dql0").attr("class","fl current");
            }

            if(stp!=="" && stp!=="0"){
                $("#lbx0").attr("class","fl");
                $("#lbx"+stp).attr("class","fl current");
            }else{
                $("#lbx0").attr("class","fl current");
            }
        })



        let bifzm="all";
        let bdq=0;
        let blb=0;

        var szm=[[${sna}]];
        var sdq=[[${sia}]];
        var stp=[[${sity}]];

        if(bifzm!=="all"){
            bifzm=szm;
        }
        if(bdq!=="0"){
            bdq=sdq;
        }
        if(blb!=="0"){
            blb=stp
        }
        //点击字母某个按钮
        function xm(s){
            bifzm=s;
            const uli = $("#allzm li");
            for(let g=0; g<uli.length; g++){
                $(uli[g]).attr("class","fl");
            }
            $("#li"+s).attr("class","fl current");
            location.href="/morsinger/"+bifzm+"/"+bdq+"/"+blb;
        }

        //点击地区
        function dq(dqtype){
            bdq=dqtype;
            const dqul = $("#dq li");
            for (let h=0; h<dqul.length; h++){
                $(dqul[h]).attr("class","fl");
            }
            $("#dql"+dqtype).attr("class","fl current");
            location.href="/morsinger/"+szm+"/"+bdq+"/"+blb;
        }

        //点击类别
        function lb(lbid){
            blb=lbid;
            const lbs = $("#lbxb li");
            for(let  j=0;j<lbs.length; j++){
                $(lbs[j]).attr("class","fl");
            }
            $("#lbx"+lbid).attr("class","fl current");
            location.href="/morsinger/"+szm+"/"+bdq+"/"+blb;
        }
    </script>
</head>
<body>
<div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
        <div>
            <!--头部-->
            <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

            <div class="container page-container page-main" data-v-bb45b0b4="">
                <div class="filter-box" data-v-bb45b0b4="">
                    <ul class="filter-group clearfix" data-v-bb45b0b4="" id="allzm">

                    </ul>
                    <ul class="filter-group clearfix" data-v-bb45b0b4="" id="dq">
                        <li class="fl current" id="dql0" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="dq(0)">全部</span></li>
                        <li class="fl" id="dql1" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="dq(1)">内地</span></li>
                        <li class="fl" id="dql2" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="dq(2)">港台</span></li>
                        <li class="fl" id="dql3" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="dq(3)">欧美</span></li>
                        <li class="fl" id="dql4" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="dq(4)">韩国</span></li>
                        <li class="fl" id="dql5" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="dq(5)">日本</span></li>
                        <li class="fl" id="dql6" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="dq(6)">其他</span></li>
                    </ul>
                    <ul class="filter-group clearfix" data-v-bb45b0b4="" id="lbxb">
                        <li class="fl current" id="lbx0" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="lb(0)">全部</span></li>
                        <li class="fl" id="lbx1" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="lb(1)">男</span></li>
                        <li class="fl" id="lbx2" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="lb(2)">女</span></li>
                        <li class="fl" id="lbx3" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="lb(3)">组合</span></li>
                        <li class="fl" id="lbx4" data-v-bb45b0b4=""><span class="item" data-v-bb45b0b4="" onclick="lb(4)">乐队</span></li>
                    </ul>
                </div>
                <div class=" artistlist-box" data-v-42602e08="" data-v-bb45b0b4="">
                    <div class="el-row" style="margin-left:-15px;margin-right:-15px;" data-v-42602e08="">

                        <div class="el-col el-col-4" th:each="mos:${mosin}" th:onclick="gs([[${mos.siid}]])" style="padding-left:15px;padding-right:15px;" data-v-42602e08="">
                            <div class="artistlist-item" data-v-42602e08="">
                                <div class="avatar" data-v-42602e08="">
                                    <div class="el-image" data-v-42602e08="">
                                        <div class="el-image__placeholder">
                                            <img th:src="${mos.siimg}" class="el-image__inner" style="object-fit: cover;"/>
                                        </div>
                                        <!---->
                                    </div>
                                </div>
                                <div class="info" data-v-42602e08="">
                                    <div class="name ellipsis" data-v-42602e08="" th:text="${mos.siname}"></div>
                                    <!---->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!---->
            </div>
            <footer th:replace="fontdesk/foot::footer-fragment"></footer>
        </div>
    </div>
</div>
<script>
    //点击歌手
    function gs(cf) {
        location.href="/singerdetails/"+cf;
    }

    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }
</script>
</body>
</html>