<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>千千音乐-听见世界</title>
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}">
    <link rel="stylesheet" th:href="@{/css/8dd5b223e783ea899db7.css}">
    <link rel="stylesheet" th:href="@{/css/807f16584d6633e3b723.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="icon" type="image/x-icon" href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico" />

    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" />
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
</head>
<body>
<div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
        <div>
            <!--头部-->
            <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

            <div class="container page-container page-main" data-v-bd7c371e="">
                <div class="info-box clearfix" data-v-bd7c371e="">
                    <div class="fl" data-v-bd7c371e="">
                        <div class="bg" data-v-bd7c371e=""></div>
                        <div class="poster" data-v-bd7c371e="">
                            <div class="el-image" data-v-bd7c371e="">
                                <img th:src="@{${sol.solimg}}" class="el-image__inner" style="object-fit: cover;">
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="info" data-v-bd7c371e="">
                        <div class="info-main" data-v-bd7c371e="">
                            <h1 class="title" data-v-bd7c371e="" th:text="${sol.soltitle}">八月，你还在等一场大雨吗</h1>
                            <div class="intro" data-v-bd7c371e="" th:text="${sol.solintro}">无论你是否有冲那场大雨里奔跑的勇气，都希望你会记得八月里盛放的花。</div>
                            <div class="tag" data-v-bd7c371e="" style="color: red;">#<span th:text="${sot.sotname}">流行</span></div>
                        </div>
                        <div class="btns" data-v-bd7c371e="">
                            <button type="button" class="el-button el-button--primary is-round" data-v-bd7c371e="">
                                <span><span class="iconfont" data-v-bd7c371e=""></span> 播放全部</span>
                            </button>
                            <span id="ccc" th:onclick="sc([[${sol.solid}]])"></span>
                            <button id="fxx"  type="button" class="el-button el-button--info is-round"
                                    data-v-bd7c371e="" th:data-clipboard-text="${'http://127.0.0.1:8090/songdeta/'+sol.solid}">
                                <span><span class="iconfont" data-v-bd7c371e=""></span> 分享</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="songlist-group" data-v-bd7c371e="">
                    <div class="title" data-v-bd7c371e="">全部歌曲</div>
                    <div data-v-7385b91b="" data-v-bd7c371e="">
                        <ul data-v-7385b91b="">
                            <li class="list-title" data-v-7385b91b="">
                                <div class="num" data-v-7385b91b="">序号</div>
                                <div class="song ellipsis" data-v-7385b91b="">歌曲</div>
                                <div class="artist" data-v-7385b91b="">歌手</div>
                                <div class="album" data-v-7385b91b="">专辑</div>
                                <div class="time" data-v-7385b91b="">时长</div>
                            </li>
                            <li class="pr t clearfix" data-v-7385b91b="" th:each="gq,state:${so}">
                                <div class="num" data-v-7385b91b="" th:text="${state.count}">1</div>
                                <div class="song ellipsis clearfix" data-v-7385b91b="">
                                    <div class="song-box" data-v-7385b91b="">
                                        <a target="self"
                                           data-v-7385b91b="" th:text="${gq.soname}">变废为宝</a>
                                        <span data-v-7385b91b="" class="vip" th:if="${gq.sovip==1}">VIP</span>
                                        <!---->
                                    </div>
                                </div>
                                <div class="artist ellipsis" data-v-7385b91b=""><a
                                        target="self"
                                        data-v-7385b91b="" th:each="gss:${gs}" th:if="${gss.siid==gq.siid}" th:text="${gss.siname}">薛之谦</a>

                                </div>
                                <div class="album ellipsis" data-v-7385b91b=""><a
                                        target="self"
                                        data-v-7385b91b="" th:text="${'《'+gq.soname+'》'}">《变废为宝》</a></div>
                                <div class="time" data-v-7385b91b="" th:text="${gq.sotime}">04:39</div>
                                <div class=" tools pa" data-v-3a201fd6="" data-v-7385b91b="">
                                    <span class="iconfont play" data-v-3a201fd6="" ></span>
                                    <span th:id="${'ax'+gq.soid}" th:onclick="ax([[${gq.soid}]])" ></span>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!---->
                </div>
                <!---->
            </div>
            <footer th:replace="fontdesk/foot::footer-fragment"></footer>
        </div>
    </div>
</div>
</body>
<script>
    //分享
    var clipboard = new ClipboardJS('#fxx');
    clipboard.on('success', function (e) {
        layer.msg("已复制，可粘贴！",{
            offset: 't',
            icon:1
        });
        e.clearSelection();
    });



    issc([[${sol.solid}]]);

    //显示是否收藏  true已收藏 false收藏
    function showsc(n) {
        var t = '';
        if(n){
            t = '<button type="button" class="el-button el-button--info is-round isFavorite" data-v-bd7c371e=""><!----><!----><span><span class="iconfont" data-v-bd7c371e=""></span> 已收藏\n' +
                '        </span></button>';
        }else{
            t = '<button type="button" class="el-button el-button--info is-round" data-v-bd7c371e=""><!----><!----><span><span class="iconfont" data-v-bd7c371e=""></span> 收藏\n' +
                '        </span></button>';
        }
        $("#ccc").html(t);
    }

    var ist = true;
    //是否收藏
    function  issc(id) {
        $.ajax({
            url: '/user/isadd/'+id,
            type: 'post',
            dataType: "json",
            complete: function (xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success: function (da) {
                // console.log(da);
                if(da.code==200){
                    ist = false;
                }
                showsc(ist);
            }
        });
    }

    //收藏
    function sc(id) {
        if(ist){
            // alert(1)
            $.ajax({
                url: '/user/del/'+id,
                type: 'post',
                dataType: "json",
                complete: function (xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success: function (da) {
                    // console.log(da);
                    issc(id);
                    ist = false;
                }
            });
        }else{
            // alert(2)
            var d = new Date();
            var date = d.getFullYear()+"/"+(d.getMonth()+1)+"/"+d.getDate();
            $.ajax({
                url: '/user/add',
                type:"post",
                // contentType:'application/json',  //发送数据类型
                data:{
                    "allid":id,
                    "cotype":2,
                    "cotime":date
                },
                dataType : "json",  //接受数据格式
                complete : function(xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success:function(da){
                    // console.log(da);
                    // if(da.code==200){
                    //     layer.msg(da.msg,{offset:['100px']});
                    //
                    // }else if(da.code=500){
                    //     layer.msg(da.msg,{offset:['100px']});
                    // }
                    issc(id);
                    ist = true;
                }
            });
        }
    }

    //歌曲收藏------------------------------------------------------------------------------


    var issong = [];
    $(function(){
        $.ajax({
            url: '/songlist/'+[[${sol.solid}]],
            type: 'post',
            dataType: "json",
            complete: function (xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success: function (da) {
                // console.log(da);
                for (var i=0;i<da.data.length;i++){
                    var soid = da.data[i].soid;

                    var obj = new Object();
                    obj.sid = soid;
                    obj.sis = true;
                    issong.push(obj);

                    //是否收藏歌曲
                    issc2(soid,i);
                }
            }
        });
    });


    //是否收藏歌曲
    function  issc2(id,i) {
        $.ajax({
            url: '/user/isadd/'+id,
            type: 'post',
            dataType: "json",
            complete: function (xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success: function (da) {
                // console.log(da);
                var isong = true;
                if(da.code==200){
                    isong = false;
                }
                issong[i].sis = isong;
                showax(isong,id);
            }
        });
    }

    //显示爱心
    function showax(n,id){
        if(n){
            $("#ax"+id).html('<span class="iconfont favorite isFavorite" data-v-3a201fd6=""></span>');
        }else{
            $("#ax"+id).html('<span class="iconfont favorite" data-v-3a201fd6="" ></span>');
        }
    }

    //收藏
    function scsong(id,i,is) {
        if(is){
            // alert(1)
            $.ajax({
                url: '/user/del/'+id,
                type: 'post',
                dataType: "json",
                complete: function (xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success: function (da) {
                    // console.log(da);
                    issc2(id,i);
                }
            });
        }else{
            // alert(2)
            var d = new Date();
            var date = d.getFullYear()+"/"+(d.getMonth()+1)+"/"+d.getDate();
            $.ajax({
                url: '/user/add',
                type:"post",
                // contentType:'application/json',  //发送数据类型
                data:{
                    "allid":id,
                    "cotype":1,
                    "cotime":date
                },
                dataType : "json",  //接受数据格式
                complete : function(xhr, status) {
                    //拦截器拦截没有权限跳转
                    // 通过xhr取得响应头
                    var REDIRECT = xhr.getResponseHeader("REDIRECT");
                    //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                    if (REDIRECT == "REDIRECT") {
                        document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                    }
                },
                success:function(da){
                    // console.log(da);
                    issc2(id,i);
                }
            });
        }
    }

    //点击爱心
    function ax(id){
        var dd = JSON.parse(JSON.stringify(issong));
        for(var i=0;i<dd.length;i++){
            var sid = dd[i].sid;
            var sis = dd[i].sis;
            // console.log(sid);
            // console.log(sis);
            if(id==sid){
                scsong(id,i,sis);
            }
        }
    }


    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }
</script>
</html>