<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon"
          href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}"/>
    <link rel="stylesheet" th:href="@{/css/f0c121bf9729755d1933.css}"/>
    <link rel="stylesheet" th:href="@{/css/4128696a8dd92d32da65.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>

    <link rel="stylesheet" th:href="@{/css/c1c20feae08654f3e00d.css}">
    <style>

        .layui-tab-brief>.layui-tab-title .layui-this {
            color: #333;
        }
        .layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
            border: none;
            border-radius: 0;
            border-bottom: 2px solid #333;
        }

    </style>
</head>

<body>
<div data-server-rendered="true" id="__nuxt">
    <!---->
    <div id="__layout">
        <div>
            <!--头部-->
            <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

            <div data-v-3859e69a="" data-v-72420e77="" class="container page-main">
                <div data-v-3db4196a="" data-v-3859e69a="" class="head-box">
                    <div data-v-3db4196a="" class="page-container head-content-box clearfix">
                        <div data-v-3db4196a="" class="fl">
                            <div data-v-3db4196a="" class="avatar">
                                <a href="/user/edit">
                                <span data-v-3db4196a="" class="el-avatar el-avatar--circle"
                                      style="height: 120px; width: 120px; line-height: 120px;"><img
                                        th:src="${session.user.usimg}"
                                        style="object-fit: cover;"></span> </a>
                                <!---->
                            </div>
                            <a data-v-3db4196a="" href="/user/edit" class="">编辑资料</a></div>
                        <div data-v-3db4196a="" class="info-box">
                            <div data-v-3db4196a="" class="refre"></div>
                            <div data-v-3db4196a="" class="info">
                                <div data-v-3db4196a="" class="name" th:text="${session.user.usname}">凌镜</div>
                                <div data-v-3db4196a="" class="intro" th:text="${session.user.usintro}">自我介绍一下吧</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-3859e69a="" class="page-container content-box">
                    <div data-v-3859e69a="" class="head clearfix">
                        <div data-v-3859e69a="" class="title">我的收藏</div>
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title">
                                <li onclick="show(1)" id="title1" class="layui-this">单曲0</li></a>
                                <li onclick="show(2)" id="title2">歌单0</li></a>
                                <li onclick="show(3)" id="title3">视频0</li></a>
                            </ul>
                            <div class="layui-tab-content" style="height: 200px;">
                                <div class="layui-tab-item layui-show" id="show1"></div>
                                <div class="layui-tab-item" id="show2"></div>
                                <div class="layui-tab-item" id="show3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--尾部-->
            <footer th:replace="fontdesk/foot::footer-fragment"></footer>
        </div>
    </div>
</div>
</body>
<script>

    /*单个播放*/
    function tyy2(id) {
        window.open("/addplaylist/"+id,"scrollbars=yes,resizable=1,modal=false,alwaysRaised=yes");
    }

    //点击爱心
    function ax(id){
        $("#ax"+id).html('<span class="iconfont favorite" data-v-3a201fd6="" ></span>');
        $.ajax({
            url: '/user/del/'+id,
            type: 'post',
            dataType: "json",
            complete: function (xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success: function (da) {
                // console.log(da);
                show(1);
            }
        });
    }


    //热门歌单详情
    function gdxx(gid) {
        location.href = "/songdeta/" + gid;
    }

    //点击视频
    function indvodj(vid){
        location.href="/videtail/"+vid;
    }

    //搜索输入框回车事件
    $("#seav").keyup(function () {
        if (event.keyCode == 13) {
            srea();
        }
    });

    //搜索
    function srea() {
        const serval = $("#seav").val();
        if (serval == "") {

        } else {
            location.href = "/search/" + serval;
        }
    }

    $(function(){
        show(1);
    })

    function show(type) {
        $.ajax({
            url:'/user/'+type,
            type:'post',
            dataType : "json",
            complete : function(xhr, status) {
                //拦截器拦截没有权限跳转
                // 通过xhr取得响应头
                var REDIRECT = xhr.getResponseHeader("REDIRECT");
                //如果响应头中包含 REDIRECT 则说明是拦截器返回的
                if (REDIRECT == "REDIRECT") {
                    document.location.href = xhr.getResponseHeader("CONTEXTPATH");
                }
            },
            success:function(da){
                // console.log(da);

                if(da.code==200){

                    $("#title1").text("单曲"+da.data.count1);
                    $("#title2").text("歌单"+da.data.count2);
                    $("#title3").text("视频"+da.data.count3);

                    var collect = da.data.collect;
                    switch (da.data.type) {
                        /*单曲*/
                        case 1:{
                            if(collect.length==0){
                                showNo(1,'单曲');
                                return;
                            }
                            showdq(collect);
                        }break;
                        /*歌单*/
                        case 2:{
                            if(collect.length==0){
                                showNo(2,'歌单');
                                return;
                            }
                            showgd(collect);
                        }break;
                        /*视频*/
                        case 3:{
                            if(collect.length==0){
                                showNo(3,'视频');
                                return;
                            }
                            showsp(collect);
                        }break;
                        /*没有*/
                        default:{
                            console.log("type:"+da.data.type);
                        };
                    }


                }
            }
        });
    }


    /*没找到*/
    function showNo(type,name) {
        var t = '<div data-v-3859e69a="" class="song-box"><!---->\n' +
            '            <div data-v-085e2f10="" data-v-3859e69a="" class="nodata-box"><img data-v-085e2f10=""\n' +
            '        src="https://static1-music.taihe.com/client/img/54bb599.png">\n' +
            '            <div data-v-085e2f10="" class="message">没有找到相关'+name+'</div>\n' +
            '            </div>\n' +
            '            </div>';
        $("#show"+type).html(t);
    }

    /*显示单曲*/
    function showdq(data) {
        var t1 = '<li data-v-7385b91b="" class="list-title">\n' +
            '\t<div data-v-7385b91b="" class="num">序号</div>\n' +
            '\t<div data-v-7385b91b="" class="song ellipsis">歌曲</div>\n' +
            '\t<div data-v-7385b91b="" class="artist">歌手</div>\n' +
            '\t<div data-v-7385b91b="" class="album">专辑</div>\n' +
            '\t<div data-v-7385b91b="" class="time">时长</div>\n' +
            '</li>';

        for(var i=0;i<data.length;i++){
            var vip = "";
            if(data[i].sovip==1){
                vip = '<span data-v-7385b91b="" class="vip" >VIP</span>';
            }
            t1+='<li class="pr t clearfix" data-v-7385b91b="" >\n' +
                '\t<div class="num" data-v-7385b91b="">'+(i+1)+'</div>\n' +
                '\t<div class="song ellipsis clearfix" data-v-7385b91b="">\n' +
                '\t\t<div class="song-box" data-v-7385b91b="">\n' +
                '\t\t\t<a target="self"\n' +
                '\t\t\t   data-v-7385b91b="">'+data[i].soname+'</a>\n' +vip+
                '\t\t\t<!---->\n' +
                '\t\t</div>\n' +
                '\t</div>\n' +
                '\t<div class="artist ellipsis" data-v-7385b91b=""><a\n' +
                '\t\t\ttarget="self"\n' +
                '\t\t\tdata-v-7385b91b="" >'+data[i].siname+'</a>\n' +
                '\t</div>\n' +
                '\t<div class="album ellipsis" data-v-7385b91b=""><a\n' +
                '\t\t\ttarget="self"\n' +
                '\t\t\tdata-v-7385b91b="" >《'+data[i].soname+'》</a></div>\n' +
                '\t<div class="time" data-v-7385b91b="" >'+data[i].sotime+'</div>\n' +
                '\t<div class=" tools pa" data-v-3a201fd6="" data-v-7385b91b="">\n' +
                '\t\t<span class="iconfont play" data-v-3a201fd6="" onclick="tyy2('+data[i].soid+')"></span>\n' +
                '\t\t<span id="ax'+data[i].soid+'" onclick="ax('+data[i].soid+')" >\n' +
                '\t\t\t<span class="iconfont favorite isFavorite" data-v-3a201fd6=""></span>\n' +
                '\t\t</span>\n' +
                '\t</div>\n' +
                '</li>';
        }

        var t = '<div data-v-3859e69a="" class="song-box" id="show1_ok">\n' +
            '                                        <button data-v-3859e69a="" type="button" class="el-button el-button--primary is-round" style="margin-bottom: 20px;padding: 12px 31px;">\n' +
            '                                            <span><span data-v-3859e69a="" class="iconfont"></span> 播放全部</span></button>\n' +
            '                                        <div data-v-7385b91b="" data-v-3859e69a="" class="">\n' +
            '                                            <ul data-v-7385b91b="">'+t1+'</ul>\n' +
            '                                        </div>\n' +
            '                                    </div>';

        $("#show1").html(t);
    }

    /*显示歌单*/
    function showgd(data) {
        var t1 = '';
        for(var i=0;i<data.length;i++){
            t1 += '<div class="tracklist-item fl" data-v-1e40aea8="" onclick="gdxx('+data[i].solid+')">\n' +
                '\t<div class="poster" data-v-1e40aea8="">\n' +
                '\t\t<div class="el-image" data-v-1e40aea8="">\n' +
                '\t\t\t<img src="'+data[i].solimg+'" class="el-image__inner" style="object-fit: cover;">\n' +
                '\t\t</div>\n' +
                '\t\t<div class="play-bar" data-v-1e40aea8=""><span class="iconfont" data-v-1e40aea8=""></span></div>\n' +
                '\t</div>\n' +
                '\t<div class="name" data-v-1e40aea8="">'+data[i].soltitle+'</div>\n' +
                '</div>';
        }
        var t = '<div data-v-3859e69a="" class="track-list-box">\n' +
            '\t<div data-v-1e40aea8="" data-v-3859e69a="" class=" tracklist-box clearfix">'+t1+'</div>\n' +
            '</div>';
        $("#show2").html(t);
    }

    /*显示视频*/
    function showsp(data) {
        var t1 = '';
        for(var i=0;i<data.length;i++){
            t1+= '<div data-v-540441ab="" class="videolist-item fl" onclick="indvodj('+data[i].feid+')">\n' +
                '                                                <div data-v-540441ab="" class="poster">\n' +
                '                                                    <div data-v-540441ab="" class="el-image"><img\n' +
                '                                                            src="'+data[i].cover+'"\n' +
                '                                                            class="el-image__inner" style="object-fit: cover;">\n' +
                '                                                    </div>\n' +
                '                                                    <div data-v-540441ab="" class="play-bar"><span data-v-540441ab="" class="iconfont"></span></div></div>\n' +
                '                                                <div data-v-540441ab="" class="name">'+data[i].fetitle+'</div>\n' +
                '                                            </div>';
        }

        var t = '<div data-v-3859e69a="" class="track-list-box" id="show3_ok">\n' +
            '                                        <div data-v-540441ab="" data-v-3859e69a="" class="videolist-box clearfix">'+t1+'</div>\n' +
            '                                    </div>';
        $("#show3").html(t);
    }

</script>
</html>