<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>千千音乐-听见世界</title>
    <link rel="icon" type="image/x-icon" href="https://sls-study-cloud-1301165591.cos.ap-guangzhou.myqcloud.com/music/img/favicon.ico" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <link rel="stylesheet" th:href="@{/css/b34ba44cfddedd3fcb45.css}">
    <link rel="stylesheet" th:href="@{/css/8dd5b223e783ea899db7.css}">
    <link rel="stylesheet" th:href="@{/css/e0f2c22d19247a4f91ca.css}">
    <link rel="stylesheet" th:href="@{/css/a9b44b8f02e561b5d926.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
</head>

<body>
    <div data-server-rendered="true" id="__nuxt">
        <div id="__layout">
            <div data-v-72420e77="">
                <!--头部-->
                <footer th:replace="fontdesk/head::footer-fragment-head"></footer>

                <div class="container page-main" data-v-a5fd420e="" data-v-72420e77="">
                    <div class="head-box" data-v-a5fd420e="">
                        <div class="page-container head-content-box clearfix" data-v-a5fd420e="">
                            <div class="fl" data-v-a5fd420e="">
                                <div class="avatar" data-v-a5fd420e=""><span class="el-avatar el-avatar--circle"
                                        style="height:120px;width:120px;line-height:120px;" data-v-a5fd420e=""><img
                                            th:src="@{/pic/3713308.png}" style="object-fit:cover;"></span>
                                    <!---->
                                </div>
                                <div class="info" data-v-a5fd420e=""><a href="javascript:" data-v-a5fd420e="">立即登录</a>
                                </div>
                            </div>
                            <div class="fr" data-v-a5fd420e="">
                                <div class="info" data-v-a5fd420e="">
                                    <div class="title" data-v-a5fd420e="">开通会员，立享特权</div> <button type="button"
                                        class="el-button el-button--info is-round" data-v-a5fd420e="">
                                        <!---->
                                        <!----><span>立即开通</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-container content-box" data-v-a5fd420e="">
                        <div class="group" data-v-a5fd420e="">
                            <div class="group-title" data-v-a5fd420e="">-会员特权-</div>
                            <div class="vip-privilege-box vip-privilege" data-v-69b7b2aa="" data-v-a5fd420e="">
                                <div class="el-row" style="margin-left:-15px;margin-right:-15px;" data-v-69b7b2aa="">
                                    <div class="el-col el-col-8" style="padding-left:15px;padding-right:15px;"
                                        data-v-69b7b2aa="">
                                        <div class="item" data-v-69b7b2aa=""><span class="iconfont"
                                                data-v-69b7b2aa=""></span>
                                            <div class="name" data-v-69b7b2aa="">VIP曲库</div>
                                            <div class="intro" data-v-69b7b2aa="">独享更多VIP专属曲库内容（不含数字专辑）</div>
                                        </div>
                                    </div>
                                    <div class="el-col el-col-8" style="padding-left:15px;padding-right:15px;"
                                        data-v-69b7b2aa="">
                                        <div class="item" data-v-69b7b2aa=""><span class="iconfont"
                                                data-v-69b7b2aa=""></span>
                                            <div class="name" data-v-69b7b2aa="">无损音质</div>
                                            <div class="intro" data-v-69b7b2aa="">为VIP会员提供SQ无损音质服务，听到细节</div>
                                        </div>
                                    </div>
                                    <div class="el-col el-col-8" style="padding-left:15px;padding-right:15px;"
                                        data-v-69b7b2aa="">
                                        <div class="item" data-v-69b7b2aa=""><span class="iconfont"
                                                data-v-69b7b2aa=""></span>
                                            <div class="name" data-v-69b7b2aa="">身份特权</div>
                                            <div class="intro" data-v-69b7b2aa="">VIP尊贵标识，优先享有新功能特权</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="group" data-v-a5fd420e="">
                            <div class="group-title" data-v-a5fd420e="">-会员歌单-</div>
                            <div class=" tracklist-box clearfix" data-v-1e40aea8="" data-v-a5fd420e="">
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">日语 | 炎炎夏日，来一颗清新薄荷糖</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">古风 | 你是我的一缕执念</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">华语乐坛不能没有这些唱将！</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">怀旧 | 陪伴90后长大的那些歌</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">影视原声 | 感动你的银幕时光</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">电音梦游记</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">流行 | 每天一首，你最流行</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">摇滚不止，生生不息</div>
                                    <!---->
                                </div>
                                <div class="tracklist-item fl" data-v-1e40aea8="">
                                    <div class="poster" data-v-1e40aea8="">
                                        <div class="el-image" data-v-1e40aea8="">
                                            <div class="el-image__placeholder"></div>
                                            <!---->
                                        </div>
                                        <div class="play-bar" data-v-1e40aea8=""><span class="iconfont"
                                                data-v-1e40aea8=""></span></div>
                                    </div>
                                    <div class="name" data-v-1e40aea8="">热爱嘻哈的你一定要了解下日语说唱</div>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="fontdesk/foot::footer-fragment"></footer>
            </div>
        </div>
    </div>

<script>
    //搜索输入框回车事件
    $("#seav").keyup(function(){
        if(event.keyCode == 13){
            srea();
        }
    });

    //搜索
    function srea(){
        const serval = $("#seav").val();
        if(serval==""){

        }else{
            location.href="/search/"+serval;
        }
    }
</script>
</body>

</html>