<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/view.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}"/>

    <style>

        .a-upload {
            padding: 4px 10px;
            height: 20px;
            line-height: 20px;
            position: relative;
            cursor: pointer;
            color: #888;
            background: #fafafa;
            border: 1px solid #ddd;
            border-radius: 4px;
            overflow: hidden;
            display: inline-block;
            *display: inline;
            *zoom: 1
        }

        .a-upload  input {
            position: absolute;
            font-size: 100px;
            right: 0;
            top: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            cursor: pointer
        }

        .a-upload:hover {
            color: #444;
            background: #eee;
            border-color: #ccc;
            text-decoration: none
        }
    </style>
</head>
<body class="layui-tank">
<div class="layui-card">
    <form class="layui-form" action="/admin/add/song" method="post" enctype="multipart/form-data">


        <div class="layui-form-item">
            <label class="layui-form-label">歌手：</label>
            <div class="layui-input-block" style="width:200px;">
                <select name="siid" lay-filter="aihao" >
                    <option th:each="si:${siall}" th:value="${si.siid}" th:text="${si.siname}">请选择歌手</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="width:300px;">
            <label class="layui-form-label">歌曲名称：</label>
            <div class="layui-input-block">
                <input type="text" name="soname" lay-verify="title" autocomplete="off" placeholder=""
                       class="layui-input" >
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">歌曲：</label>
            <div class="layui-input-block">
                <a href="javascript:;" class="a-upload">
                    <input type="file" id="smp3" name="multipart" lay-verify="title" autocomplete="off" placeholder="">点击这里上传歌曲
                </a>
                &nbsp;&nbsp;
                <input type="text" name="sotime" id="st" readonly="readonly" lay-verify="title" autocomplete="off" placeholder="" style="border: 0px;">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">歌词：</label>
            <div class="layui-input-block">
                <a href="javascript:;" class="a-upload">
                    <input type="file" name="multipart" lay-verify="title" autocomplete="off" placeholder="">点击这里上传歌词
                </a>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">图片：</label>
            <div class="layui-input-block">
                <a href="javascript:;" class="a-upload">
                    <input type="file" name="multipart" lay-verify="title" autocomplete="off" placeholder="">点击这里上传图片
                </a>
            </div>
        </div>

        <div class="layui-form-item" style="width:300px;">
            <label class="layui-form-label">出版时间：</label>
            <div class="layui-input-block">
                <input type="date" name="publish" required="required"  lay-verify="title" autocomplete="off" placeholder=""
                       class="layui-input" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否是vip：</label>
            <div class="layui-input-block">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="sovip" value="0" title="不是" checked="">
                <input type="radio" name="sovip" value="2" title="是">
            </div>
        </div>
        <div class="layui-form-item"></div>
        <div style="margin: 0px auto; width: 300px;position: relative;top:20px;" >
            <input type="submit" class="layui-btn  layui-btn-normal float-right" />
            <a href="/admin/song" class="layui-btn layui-btn-primary float-right"  id="quxiao" >取消</a>
        </div>
    </form>
</div>
<audio id="audio" controls="" style="display: none;"></audio>



<script th:src="@{/assets/layui.all.js}"></script>
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script>
    // 音频加载完成后的一系列操作
    function duration(){
        var myVid = document.getElementById("audio");
        // console.log("duration  ",myVid);
        if(myVid != null){
            myVid.load();
            myVid.oncanplay = function () {
                $("#st").val(timeToMinute(myVid.duration));
            }
        }
    }

    // 秒转换分钟00:00:00格式
    function timeToMinute(times){
        var t='';
        if(times > -1){
            var hour = Math.floor(times/3600);
            var min = Math.floor(times/60) % 60;
            var sec = times % 60;
            if(min < 10){t += "0";}
            t += min + ":";
            if(sec < 10){t += "0";}
            t += sec.toFixed(2);
        }
        t=t.substring(0,t.length-3);
        return t;

    }

    //附件展示
    $(function () {
        $("#smp3").change(function () {
            var objUrl = getObjectURL(this.files[0]);
            $("#audio").attr("src", objUrl);
            duration();
        });

    });

    //获取上传图片路径
    function getObjectURL(file) {
        var url = null;
        if (window.createObjectURL != undefined) { // basic
            url = window.createObjectURL(file);
        } else if (window.URL != undefined) { // mozilla(firefox)
            url = window.URL.createObjectURL(file);
        } else if (window.webkitURL != undefined) { // webkit or chrome
            url = window.webkitURL.createObjectURL(file);
        }
        return url;
    }
</script>

</body>
</html>
