<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>分类管理</title>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/view.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}"/>
    <style>
        ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {display: inline;}

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
        }

        ul.pagination li a:hover:not(.active) {background-color: #ddd;}
    </style>

</head>
<body class="layui-view-body">
<div class="layui-content">
    <!--面包屑导航-->
    <div class="mianb">
        <div class="mblf layui-col-xs6 layui-col-md6">
            <i class="layui-icon"></i>
            <p>首页管理 > <span> <a th:href="@{/admin/class/1}">

                            <em>分类管理</em>
                        </a></span></p>
        </div>
        <div class="mbrt layui-col-xs6 layui-col-md6">
            <a href="/admin/class/add" class="layui-btn layui-btn-normal" id="fabu">添加类别</a>
        </div>
    </div>
    <!--面包屑导航-->
    <div class="layui-row">
        <div class="layui-card">
            <div class="table-responsive">
                <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
                    <thead>
                    <tr>

                        <th>类名</th>
                        <th>类型</th>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="song : ${song.list}">
                        <td th:text="${song.sotname}">sotname</td>
                        <td th:switch="${song.sottype}">
                            <span th:case="1">语种</span>
                            <span th:case="2">流派</span>
                            <span th:case="3">主题</span>
                            <span th:case="4">情感</span>
                            <span th:case="5">场景</span>
                        </td>
                        <td>
                            <div class="layui-table-cell laytable-cell-1-0-10">
<!--                                <a  class="layui-btn layui-btn-normal layui-btn-xs " id="update"  th:href="@{'/admin/update/class/'+${song.sotid}}">修改</a>-->
                                <a class="layui-btn layui-btn-danger layui-btn-xs delete" th:onclick="del([[${song.sotid}]])">删除</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <!--分页  -->
            <ul class="pagination">
                <li><a href="1">首页</a></a></li>
                <li><a  th:each="n : ${song.navigatepageNums}"
                       th:href="${n}"
                       th:text="${n}"
                       th:class="${ n==song.getPageNum ? 'active' : '' }"> 1 </a> </li>
                <li><a th:href="${song.pages}">尾页</a></li>
            </ul>
            <!--分页-->

        </div>
    </div>
</div>
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/assets/layui.all.js}"></script>
<script>
    function del() {
        var msg = "您确认要删除吗？";
        if (confirm(msg)==true){
            return true;
        }else{
            return false;
        }
    }



    var element = layui.element;
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;

        //页码完整功能
        laypage.render({
            elem: 'page'
            , count: 1000
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            , jump: function (obj) {
                console.log(obj)
            }
        });
    });

    // //弹框
    // $('#fabu').on('click', function () {
    //     layui.use('layer', function () {
    //         var layer = layui.layer;
    //         layer.open({
    //             type: 2,
    //             title: '发布任务',
    //             fix: false,
    //             shadeClose: true,
    //             shade: 0.8,
    //             area: ['660px', '420px'],
    //             content: '/admin/addsong',
    //             end: function () {
    //                 location.reload();
    //             }
    //         });
    //     });
    // })

    //弹框
    $('#update').on('click', function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: '发布任务',
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['660px', '420px'],
                content: '/admin/update/song',
                end: function () {
                    location.reload();
                }
            });
        });
    })

    //删除
    function del(id){
        layer.confirm('确定要删除此歌手？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url:'/admin/class/del/'+id,
                success: function(da){

                    if(da.code==501){
                        layer.msg(da.msg);
                    }else if(da.code==200){
                        layer.msg("删除成功！");
                        setTimeout(function(){
                            //刷新
                            location.reload();
                        },700);
                    }else{
                        layer.msg("删除失败！");
                    }
                }
            })
        }, function () {
            // layer.msg('已取消！');
        });
    }


    // //判断弹框
    // $(".delete").click(function () {
    //     layer.confirm('确定要删除此任务？', {
    //         btn: ['是', '否'] //按钮
    //     }, function () {
    //         layer.msg('已删除', {icon: 1});
    //     }, function () {
    //         layer.msg('已取消', {icon: 2});
    //     });
    // })

    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });


</script>





</body>
</html>