<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>歌手管理</title>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/view.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}"/>
    <style>
        ul.pagination {
            display: inline-block;
            padding: 0;
            margin: 0;
        }

        ul.pagination li {display: inline;}

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

        ul.pagination li a.active {
            background-color: #4CAF50;
            color: white;
        }

        ul.pagination li a:hover:not(.active) {background-color: #ddd;}
    </style>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <!--面包屑导航-->
    <div class="mianb">
        <div class="mblf layui-col-xs6 layui-col-md6">
            <i class="layui-icon">&#xe656;</i>
            <p>首页管理 > <span>添加歌手</span></p>
        </div>
        <div class="mbrt layui-col-xs6 layui-col-md6">
            <a href="/admin/findaddsinger" class="layui-btn layui-btn-normal" id="fabu">添加歌手</a>
        </div>
    </div>
    <!--面包屑导航-->
    <div class="layui-row">
        <div class="layui-card">
            <div class="table-responsive">
                <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
                    <thead>
                    <tr>
<!--                        <th>siid</th>-->
                        <th>姓名</th>
                        <th>介绍</th>
                        <th>图片</th>
                        <th>地区</th>
                        <th>性别</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="s : ${singer.list}">
                       <td th:text="${s.siid}" style="display: none">siid</td>
                        <td th:text="${s.siname}">siname</td>
                        <td th:text="${s.siintro}">siintro</td>
                        <td><img th:src="${s.siimg}" style="width: 100px;height: 100px" /></td>
                        <td th:switch="${s.siarea}">
                            <span th:case="1">内地</span>
                            <span th:case="2">港台</span>
                            <span th:case="3">欧美</span>
                            <span th:case="4">韩国</span>
                            <span th:case="5">日本</span>
                            <span th:case="6">其他</span>
                        </td>
                        <td th:switch="${s.sitype}">
                            <span th:case="1">男</span>
                            <span th:case="2">女</span>
                            <span th:case="3">组合</span>
                            <span th:case="4">乐队</span>
                        </td>
                        <td>
                            <div class="layui-table-cell laytable-cell-1-0-10">
<!--                                <a id="updatesinger" class="layui-btn layui-btn-normal layui-btn-xs" th:href="@{'/admin/updatesinger/'+${s.siid}}">修改</a>-->
                                <a class="layui-btn  layui-btn-danger layui-btn-xs delete" th:onclick="del([[${s.siid}]])">删除</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--分页-->

            <!--分页-->

            <ul class="pagination">
                <li><a href="1">首页</a></li>

                <li><a  th:each="n : ${singer.navigatepageNums}"
                                           th:href="${n}"
                                           th:text="${n}"
                                           th:class="${ n==singer.getPageNum ? 'active' : '' }"> 1 </a></li>

                <li> <a th:href="${singer.pages}">尾页</a></li>
            </ul>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/assets/layui.all.js}"></script>
<script>

    var element = layui.element;
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;

        //页码完整功能

    });

    //弹框
    $('#fabu').on('click', function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: '添加',
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['700px', '600px'],
                content: '/admin/findaddsinger',
                end: function () {
                    location.reload();
                }
            });
        });
    })
//修改
    $('#updatesinger').on('click', function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['660px', '420px'],
                content: '/admin/updatesinger',
                end: function () {
                    location.reload();
                }
            });
        });
    })

    //删除
    function del(id){
        layer.confirm('确定要删除此歌手？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                url:'/admin/singer/del/'+id,
                success: function(da){

                    if(da.code==501){
                        layer.msg(da.msg);
                    }else if(da.code==200){
                        layer.msg("删除成功！");
                        setTimeout(function(){
                            //刷新
                            location.reload();
                        },700);
                    }else{
                        layer.msg("删除失败！");
                    }
                }
            })
        }, function () {
            // layer.msg('已取消！');
        });
    }

    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
</script>

</body>
</html>