<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/view.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}"/>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <!--面包屑导航-->
    <div class="mianb">
        <div class="mblf layui-col-xs6 layui-col-md6">
            <i class="layui-icon">&#xe656;</i>
            <p>用户管理</p>
        </div>
        <div class="mbrt layui-col-xs6 layui-col-md6">
            <a href="javascript:;" class="layui-btn layui-btn-normal" id="fabu">发布任务</a>
        </div>
    </div>
    <!--面包屑导航-->
    <div class="layui-row">
        <div class="layui-card">
            <div class="table-responsive">
                <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
                    <thead>
                    <tr>
                        <th>任务名</th>
                        <th>描述</th>
                        <th>悬赏积分</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>每日登录</td>
                        <td>每天登录可得1积分</td>
                        <td>10</td>
                        <td>2019-11-29</td>
                        <td>
                            <div class="layui-table-cell laytable-cell-1-0-10">
                                <a class="layui-btn layui-btn-normal layui-btn-xs update">修改</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs delete">删除</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>连续登录5天</td>
                        <td>连续登录5天，中间间隔重新开始</td>
                        <td>70</td>
                        <td>2019-11-29</td>
                        <td>
                            <div class="layui-table-cell laytable-cell-1-0-10">
                                <a class="layui-btn layui-btn-normal layui-btn-xs">修改</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs delete">删除</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--分页-->
            <div id="page"></div>
            <!--分页-->
        </div>

    </div>
</div>
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/assets/layui.all.js}"></script>
<script>
    var element = layui.element;
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;

        //页码完整功能
        laypage.render({
            elem: 'page'
            , count: 100
            , layout: ['count', 'prev', 'page', 'next', 'limit', 'skip']
            , jump: function (obj) {
                console.log(obj)
            }
        });
    });

    //弹框
    $('#fabu').on('click', function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: '发布任务',
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['660px', '420px'],
                content: '/admin/adduser',
                end: function () {
                    location.reload();
                }
            });
        });
    })

    //判断弹框
    $(".delete").click(function () {
        layer.confirm('确定要删除此任务？', {
            btn: ['是', '否'] //按钮
        }, function () {
            layer.msg('已删除', {icon: 1});
        }, function () {
            layer.msg('已取消', {icon: 2});
        });
    })

    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
</script>

</body>
</html>