<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/assets/css/layui.css}">
    <link rel="stylesheet" th:href="@{/assets/css/view.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}"/>
</head>
<body class="layui-view-body">
<div class="layui-content">
    <!--面包屑导航-->
    <div class="mianb">
        <div class="mblf layui-col-xs6 layui-col-md6">
            <i class="layui-icon">&#xe656;</i>
            <p>首页管理 > <span>用户管理</span></p>
        </div>
    </div>
    <!--面包屑导航-->
    <div class="layui-row">
        <div class="layui-card">
            <div class="table-responsive">
                <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
                    <thead>
                    <tr>
                        <th>用户名称</th>
                        <th>用户性别</th>
                        <th>用户年龄</th>
                        <th>用户电话</th>
                        <th>用户简介</th>
                        <th>用户头像</th>
                        <th>是否VIP</th>
                        <th>到期时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="us:${um.list}">
                        <td th:text="${us.usname}"></td>
                        <td th:text="${us.sex==1 ? '男':'女'}">每天登录可得1积分</td>
                        <td th:text="${us.age}">10</td>
                        <td th:text="${us.phone}">2019-11-29</td>
                        <td th:text="${us.usintro}"></td>
                        <td><img th:src="${us.usimg}"></td>
                        <td th:text="${us.isvip==0 ? '否':'是'}"></td>
                        <td th:text="${us.viptime}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--分页-->
            <div id="page"></div>
            <!--分页-->
        </div>

    </div>
</div>
<script th:src="@{/js/jquery-1.10.2.js}"></script>
<script th:src="@{/assets/layui.all.js}"></script>
<script>
    var element = layui.element;
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage
            , layer = layui.layer;

        //页码完整功能
        laypage.render({
            elem: 'page'
            , count: [[${um.getTotal()}]]
            ,hash:true
            ,limit:4
            ,hash: 'fenye' //自定义hash值
            ,curr:[[${um.pageNum}]]
            , layout: ['count', 'prev', 'page', 'next']
            , jump: function (obj,first) {
                if(!first){
                    location.href="/userma/"+obj.curr;
                }
            }
        });
    });

    //弹框
    $('#fabu').on('click', function () {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: '发布任务',
                fix: false,
                shadeClose: true,
                shade: 0.8,
                area: ['660px', '420px'],
                content: '/admin/adduser',
                end: function () {
                    location.reload();
                }
            });
        });
    })

    //判断弹框
    $(".delete").click(function () {
        layer.confirm('确定要删除此任务？', {
            btn: ['是', '否'] //按钮
        }, function () {
            layer.msg('已删除', {icon: 1});
        }, function () {
            layer.msg('已取消', {icon: 2});
        });
    })

    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
</script>

</body>
</html>