<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.music.dao.FeatureDao">
    <select id="sefe" resultType="Feature">
        select * from feature order by rand()
    </select>

    <insert id="inadd" parameterType="Feature">
        insert into feature(fetitle,feurl,feplays) values (#{fetitle},#{feurl},#{feplays});
    </insert>

    <select id="seindex" resultType="Feature">
        select * from feature order by rand() limit 4
    </select>

    <select id="findidvoid" resultType="Feature">
        select * from feature where feid=#{feid}
    </select>

    <select id="fecount" resultType="int">
        select count(*) from feature;
    </select>

    <update id="browse" >
        update feature set feplays=feplays+1 where feid=#{feid}
    </update>

</mapper>