<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.music.dao.PayLogDao">
    <insert id="paylogadd" parameterType="PayLog">
        insert into paylog(usid,amt,ordernumber,transactionnumber,tradingtime) values(#{usid},#{amt},#{ordernumber},#{transactionnumber},#{tradingtime});
    </insert>

    <select id="pacount" resultType="int">
        select COALESCE(sum(amt),0) from paylog where tradingtime like '${value}%';
    </select>

    <select id="sepaylog" resultType="PayLogAll">
        select * from paylog as a inner join user as b on a.usid=b.usid
    </select>
</mapper>