<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.music.dao.SongDao">
    <select id="seall" resultType="Song">
       select * from song
    </select>

    <insert id="songadd" parameterType="Song">
       insert into song(siid,soname,solink,lyrics,soimg,sotime,publish) values (#{siid},#{soname},#{solink},#{lyrics},#{soimg},#{sotime},#{publish});
    </insert>
</mapper>