<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.music.dao.SongDao">
    <select id="seall" resultType="Song">
       select * from song
    </select>

    <select id="getSong" resultType="Song">
       select * from song where soid=#{soid}
    </select>

    <insert id="songadd" parameterType="Song">
       insert into song(siid,soname,solink,lyrics,soimg,sotime,publish,sovip) values (#{siid},#{soname},#{solink},#{lyrics},#{soimg},#{sotime},#{publish},#{sovip});
    </insert>


    <resultMap id="songse" type="SongSing">
        <id property="soid" column="soid"></id>
        <result property="siid" column="siid"></result>
        <result property="soname" column="soname"></result>
        <result property="solink" column="solink"></result>
        <result property="lyrics" column="lyrics"></result>
        <result property="soimg" column="soimg"></result>
        <result property="sotime" column="sotime"></result>
        <result property="publish" column="publish"></result>
        <result property="sovip" column="sovip"></result>
        <association property="sing" javaType="Singer">
            <id property="siid" column="siid"/>
            <result property="siname" column="siname"/>
            <result property="siintro" column="siintro"/>
            <result property="siimg" column="siimg"/>
            <result property="siarea" column="siarea"/>
            <result property="sitype" column="sitype"/>
        </association>
    </resultMap>
    <select id="songseing" resultMap="songse">
        select * from song as a inner join singer as b on a.siid=b.siid ORDER BY rand() limit 6;
    </select>

    <select id="getSongAll" resultType="Song">
        select * from song where soid in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <resultMap id="singal" type="SingerAll">
        <id property="siid" column="siid"/>
        <result property="siname" column="siname"/>
        <result property="siintro" column="siintro"/>
        <result property="siimg" column="siimg"/>
        <result property="siarea" column="siarea"/>
        <result property="sitype" column="sitype"/>
        <collection property="song" ofType="Song">
            <id property="soid" column="soid"></id>
            <result property="siid" column="siid"></result>
            <result property="soname" column="soname"></result>
            <result property="solink" column="solink"></result>
            <result property="lyrics" column="lyrics"></result>
            <result property="soimg" column="soimg"></result>
            <result property="sotime" column="sotime"></result>
            <result property="publish" column="publish"></result>
            <result property="sovip" column="sovip"></result>
        </collection>
    </resultMap>
    <select id="singerallsong" resultMap="singal">
        select * from singer as a inner join song as b on a.siid=b.siid where a.siid=#{siid};
    </select>


    <select id="searchdong" resultType="Search">
        select a.*,b.siname from song as a inner join singer as b on a.siid=b.siid where a.soname like'%${value}%' ORDER BY rand();
    </select>


    <select id="secount" resultType="int">
        select count(*) from song;
    </select>

</mapper>