<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.music.dao.UserDao">
    <select id="seone" resultType="User">
        select * from user where usid=#{id}
    </select>

    <select id="login" resultType="User">
        select * from user where phone=#{phone} and password=#{password}
    </select>

    <update id="alter">
        update user
        <set>
            <if test="usname != null">usname=#{usname},</if>
            <if test="1 == 1">sex=#{sex},</if>
            <if test="1 == 1">age=#{age},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="usintro != null">usintro=#{usintro},</if>
            <if test="usimg != null">usimg=#{usimg},</if>
            <if test="password != null">password=#{password},</if>
            <if test="1 == 1">isvip=#{isvip},</if>
            <if test="viptime != null">viptime=#{viptime},</if>
        </set>
        where usid=#{usid}
    </update>

    <insert id="Userreg" parameterType="User">
        insert into user(usname,sex,age,phone,password,usintro,usimg,isvip,viptime)values(#{usname},#{sex},#{age},#{phone},#{password},#{usintro},#{usimg},#{isvip},#{viptime})
    </insert>

    <select id="seiphone" resultType="User">
        select * from user where phone=#{iphone}
    </select>
</mapper>